*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #000;
}

a {
  text-decoration: none !important;
  -webkit-transition: .3s all;
  transition: .3s all;
  outline: none;
}

button {
  cursor: pointer;
  border: none;
  -webkit-transition: .3s all;
  transition: .3s all;
  outline: none;
}

input {
  outline: none;
  border: none;
  font-weight: 900;
  font-size: 32px;
  line-height: 39px;
}

textarea {
  resize: none;
}
textarea:focus {
  outline: none;
}

img {
  max-width: 100%;
}

.section {
  margin-bottom: 50px;
}

.main {
  padding-top: 30px;
  padding-bottom: 50px;
}

.hover {
  -webkit-transition: .3s all;
  transition: .3s all;
}
.hover:hover {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}
.hover:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}
.flex > div {
  padding: 0 15px;
}

.flex-25 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}
.flex-25 > div {
  padding: 0 15px 30px;
  width: 25%;
}

.flex-33 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}
.flex-33 > div {
  padding: 0 15px 30px;
  width: 33.333%;
}

.flex-50 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}
.flex-50 > div {
  padding: 0 15px 30px;
  width: 50%;
}

.btn {
  padding: 12px 24px;
  border-radius: 4px;
  background-color: #fff;
  -webkit-box-shadow: inset 0 0 0 2px #fff;
          box-shadow: inset 0 0 0 2px #fff;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  min-width: 160px;
  display: block;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: rgba(96, 169, 68, 0.2);
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #60A944;
}

.appear {
  opacity: 1 !important;
  visibility: visible !important;
}

.mark {
  position: absolute;
  top: 5px;
  left: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-weight: bold;
  color: #F2F2F2;
  -webkit-transition: .3s all;
  transition: .3s all;
  word-wrap: break-word;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.sale {
  background-color: #f00;
  font-size: 16px;
  line-height: 20px;
}

.individual {
  background-color: #393185;
  font-size: 13px;
  line-height: 16px;
}

h1.default-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 39px;
  margin: 35px 0 45px;
}

.city {
  padding: 50px 90px 70px 65px;
  max-width: 950px;
  width: 100%;
}
.city .city__title {
  font-weight: 900;
  font-size: 32px;
  line-height: 39px;
  margin-bottom: 30px;
}
.city .city__current {
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 18px;
}
.city .city__current .city__current-on {
  padding: 8.5px 28px;
  background-color: rgba(0, 102, 51, 0.1);
  border-radius: 4px;
  display: inline-block;
  margin-left: 30px;
  width: calc(100% - 107px);
}
.city .city__list .city__list-title {
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.city .city__list .city__list-settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -35px;
}
.city .city__list .city__list-settings .settings-title {
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 10px;
}
.city .city__list .city__list-settings .settings-left {
  padding: 0 35px;
  position: relative;
  width: 50%;
}
.city .city__list .city__list-settings .settings-left ul {
  list-style: none;
}
.city .city__list .city__list-settings .settings-left ul li {
  margin-bottom: 2px;
  background-color: #ECEBF3;
  padding: 15px 30px;
  font-weight: 500;
  font-size: 13px;
  line-height: 21px;
  text-transform: uppercase;
  -webkit-transition: .3s all;
  transition: .3s all;
  cursor: pointer;
}
.city .city__list .city__list-settings .settings-left ul li:hover {
  background-color: rgba(96, 169, 68, 0.4);
}
.city .city__list .city__list-settings .settings-left ul li.choosen-region {
  background-color: #60A944;
  cursor: default;
}
.city .city__list .city__list-settings .settings-left::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 1px;
  background-color: #c4c4c4;
}
.city .city__list .city__list-settings .settings-right {
  padding: 0 35px;
  width: 50%;
  position: relative;
  height: 250px;
}
.city .city__list .city__list-settings .settings-right ul {
  opacity: 0;
  visibility: hidden;
  list-style: none;
  width: calc(100% - 70px);
  height: 220px;
  overflow: auto;
  position: absolute;
  bottom: 0;
  right: 35px;
  -webkit-transition: .3s all;
  transition: .3s all;
}
.city .city__list .city__list-settings .settings-right ul li {
  font-size: 15px;
  line-height: 21px;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  -webkit-transition: .3s all;
  transition: .3s all;
}
.city .city__list .city__list-settings .settings-right ul li .check {
  -webkit-transition: .3s all;
  transition: .3s all;
  background: url(/images/city-check.svg) no-repeat 50%;
  width: 21px;
  height: 21px;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.city .city__list .city__list-settings .settings-right ul li .city-for-choose {
  border-bottom: 2px dotted #006633;
  color: #006633;
  cursor: pointer;
  -webkit-transition: .3s all;
  transition: .3s all;
  margin-right: 10px;
}
.city .city__list .city__list-settings .settings-right ul li .city-for-choose:hover {
  border-bottom: 2px dotted #60A944;
  color: #60A944;
}
.city .city__list .city__list-settings .settings-right ul li .city-area {
  display: inline-block;
}
.city .city__list .city__list-settings .settings-right ul li.choosen-city {
  padding-left: 27px;
}
.city .city__list .city__list-settings .settings-right ul li.choosen-city .check {
  opacity: 1;
  visibility: visible;
}
.city .city__list .city__list-settings .settings-right ul li.choosen-city .city-for-choose {
  border-bottom: 2px dotted transparent;
  color: #f00;
}

.catalog {
  padding: 50px 70px;
  max-width: 1070px;
  width: 100%;
  background-color: #F1F4F8;
  cursor: default !important;
  overflow: hidden;
}
.catalog .catalog__title {
  font-weight: 900;
  font-size: 32px;
  line-height: 39px;
  margin-bottom: 50px;
}
.catalog .catalog__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.catalog .catalog__content .catalog__tabs {
  min-width: 270px;
  width: 30%;
}
.catalog .catalog__content .catalog__tabs ul {
  list-style: none;
}
.catalog .catalog__content .catalog__tabs ul li {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  padding: 10px 20px;
  margin-bottom: 3px;
  background-color: #fff;
  cursor: pointer;
  -webkit-transition: .3s all;
  transition: .3s all;
}
.catalog .catalog__content .catalog__tabs ul li:hover {
  background-color: rgba(0, 102, 51, 0.6);
  color: #fff;
}
.catalog .catalog__content .catalog__tabs ul li:last-child {
  margin-bottom: 0;
}
.catalog .catalog__content .catalog__tabs ul li.active-tab {
  background-color: #006633;
  color: #fff;
  cursor: default;
}
.catalog .catalog__content .catalog__changing-content {
  width: 70%;
  position: relative;
  padding: 20px 60px 30px 60px;
  background-color: #fff;
}
.catalog .catalog__content .catalog__changing-content::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: #006633;
}
.catalog .catalog__content .catalog__changing-content::after {
  content: '';
  position: absolute;
  right: -70px;
  top: 0;
  background-color: #fff;
  height: 100%;
  width: 70px;
}
.catalog .catalog__content .catalog__changing-content ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
  opacity: 0;
  visibility: hidden;
  height: 0;
}
.catalog .catalog__content .catalog__changing-content ul li {
  width: 50%;
  padding: 0 15px 15px;
}
.catalog .catalog__content .catalog__changing-content ul li a {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #666;
  position: relative;
  display: inline-block;
  padding-left: 20px;
}
.catalog .catalog__content .catalog__changing-content ul li a::before {
  content: '';
  position: absolute;
  left: 0;
  top: calc(50% - 2px);
  background-color: #666;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  -webkit-transition: .3s all;
  transition: .3s all;
}
.catalog .catalog__content .catalog__changing-content ul li a:hover {
  color: #006633;
}
.catalog .catalog__content .catalog__changing-content ul li a:hover::before {
  background-color: #006633;
}
.catalog .catalog__content .catalog__changing-content ul li .chosen-good {
  color: #006633;
}
.catalog .catalog__content .catalog__changing-content ul li .chosen-good::before {
  background-color: #006633;
}
.catalog .catalog__content .catalog__changing-content ul.appear {
  height: 500px;
  overflow-y: auto;
}

.header {
  background: url(/images/head_fon.jpg) no-repeat 50%;
  background-size: cover;
  min-height: 140px;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -15px;
  padding: 15px 0;
}
.header__inner .header__left {
  width: 25%;
  padding: 0 15px;
}
.header__inner .header__right {
  width: 75%;
  padding: 0 15px 0 60px;
}

.header__pannel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -10px;
}
.header__pannel > div {
  margin: 0 10px;
}

.header__pannel .choose-city {
  width: calc(24% - 20px);
}
.header__pannel .compare {
  width: calc(18% - 20px);
  margin-top: 11px;
}
.header__pannel .compare span {
  left: 18px;
}
.header__pannel .cart {
  width: calc(18% - 20px);
  margin-top: 11px;
}
.header__pannel .registration {
  width: calc(20% - 20px);
  margin-top: 11px;
}
.header__pannel .phone {
  width: calc(20% - 20px);
}

.choose-city span {
  font-size: 13px;
  line-height: 16px;
  color: #828282;
  display: block;
}
.choose-city a {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.02em;
  color: #006633;
  border-bottom: 2px dashed #006633;
  display: inline-block;
}
.choose-city a:hover {
  color: #41BF3A;
  border-bottom: 2px dashed #41BF3A;
}

.compare,
.cart,
.registration {
  position: relative;
}
.compare:hover span,
.cart:hover span,
.registration:hover span {
  background-color: #41BF3A;
}
.compare img,
.cart img,
.registration img {
  display: inline-block;
}
.compare span,
.cart span,
.registration span {
  display: block;
  position: absolute;
  left: 18px;
  top: -10px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #60A944;
  -webkit-box-shadow: 0 0 0 3px #fff;
          box-shadow: 0 0 0 3px #fff;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  -webkit-transition: .3s all;
  transition: .3s all;
}
.compare .link_title,
.cart .link_title,
.registration .link_title {
  display: inline-block;
  font-size: 13px;
  line-height: 16px;
  color: #000;
  margin-left: 11px;
}

.phone a {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #000;
}
.phone a:hover {
  color: #60A944;
}

.header__serach {
  margin-top: 15px;
}
.header__serach form {
  position: relative;
}
.header__serach input {
  padding: 10px 50px 10px 32px;
  font-size: 13px;
  line-height: 16px;
  background: #fff;
  -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  width: 100%;
  -webkit-transition: .3s all;
  transition: .3s all;
}
.header__serach input::-webkit-input-placeholder {
  color: rgba(130, 130, 130, 0.8);
}
.header__serach input:-ms-input-placeholder {
  color: rgba(130, 130, 130, 0.8);
}
.header__serach input::-ms-input-placeholder {
  color: rgba(130, 130, 130, 0.8);
}
.header__serach input::placeholder {
  color: rgba(130, 130, 130, 0.8);
}
.header__serach input:focus {
  -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1), inset 0 0 0 1px #006633;
          box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1), inset 0 0 0 1px #006633;
}
.header__serach input:focus + button {
  -webkit-filter: brightness(1);
          filter: brightness(1);
  opacity: 1;
}
.header__serach button {
  position: absolute;
  right: 15px;
  top: 6px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  border: none;
  background: url(/images/search.svg) no-repeat 50%;
  -webkit-filter: brightness(0);
          filter: brightness(0);
  opacity: .5;
}
.header__serach button:hover {
  -webkit-filter: brightness(1);
          filter: brightness(1);
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.footer {
  background-color: #F1F4F8;
  padding: 40px 0 45px;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -15px;
}
.footer__inner > div, .footer__inner > a, .footer__inner > nav {
  padding: 0 15px;
}

.footer__logo {
  width: 27%;
}

.footer__navigation {
  width: 40%;
}
.footer__navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin-bottom: 0;
}
.footer__navigation ul li {
  width: 33.333%;
}
.footer__navigation a {
  display: block;
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 21px;
  color: #000;
  position: relative;
  padding-left: 10px;
}
.footer__navigation a::after {
  content: '';
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #000;
  position: absolute;
  top: 9px;
  left: 0;
}
.footer__navigation a:hover {
  color: #006633;
}
.footer__navigation a:hover::after {
  background-color: #006633;
}

.footer__contacts {
  width: 22%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer__privacy {
  width: 100%;
  margin-top: 17px;
  font-size: 13px;
  line-height: 16px;
  color: #000;
}
.footer__privacy a {
  font-weight: bold;
  color: #006633;
}
.footer__privacy a:hover {
  color: #60A944;
}

.footer__contacts_phone {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #006633;
}
.footer__contacts_phone:hover {
  color: #60A944;
}

.footer__contacts_email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 21px;
  color: #000;
  margin-top: 14px;
}
.footer__contacts_email:hover {
  color: #60A944;
}
.footer__contacts_email img {
  margin-right: 5px;
}

.title {
  margin-bottom: 28px;
}
.title h2 {
  font-weight: 900;
  font-size: 32px;
  line-height: 39px;
  color: #000;
}
.title a {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border-bottom: 1px solid #006633;
  color: #006633;
  display: inline-block;
  margin-left: 30px;
}
.title a:hover {
  color: #41BF3A;
  border-bottom: 1px solid #41BF3A;
}

.slider-box {
  width: calc(100% + 30px);
  position: relative;
  margin: 0 -15px;
}
.slider-box .slick-arrow {
  position: absolute;
  top: -60px;
  font-size: 0;
  cursor: pointer;
  padding: 5px;
  background-color: transparent;
  width: 30px;
  height: 30px;
  z-index: 5;
}
.slider-box .slick-next {
  background: url("/images/next.svg") no-repeat 50%;
  right: 10px;
}
.slider-box .slick-next:hover {
  background: url("/images/next-hov.svg") no-repeat 50%;
}
.slider-box .slick-prev {
  background: url("/images/prev.svg") no-repeat 50%;
  right: 40px;
}
.slider-box .slick-prev:hover {
  background: url("/images/prev-hov.svg") no-repeat 50%;
}

.slider-item {
  padding: 0 15px;
}

.slick-slide {
  outline: none;
}

.stocks__item .stocks__item-title {
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 21px;
}
.stocks__item .stocks__item-period {
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  color: #C4C4C4;
}
.stocks__item .stocks__item-image {
  margin-top: 8px;
}
.stocks__item .stocks__item-image img {
  border-radius: 4px;
  width: 100%;
  height: 20.3vw;
  max-height: 255px;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-menu {
  background-color: #60A944;
}
.main-menu .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 48px;
}
.main-menu .nav .nav__catalog {
  width: calc(25% - 15px);
  padding: 0 15px;
  background-color: #006633;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-menu .nav .nav__catalog .custom-icon {
  width: 18px;
  height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: .3s all;
  transition: .3s all;
}
.main-menu .nav .nav__catalog .custom-icon span {
  width: 7px;
  height: 7px;
  background-color: #fff;
  border-radius: 50%;
}
.main-menu .nav .nav__catalog .custom-icon span:first-child {
  margin-bottom: 4px;
}
.main-menu .nav .nav__catalog:hover .custom-icon {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.main-menu .nav .nav__list {
  margin-bottom: 0;
  list-style: none;
  width: calc(75% + 15px);
  padding-left: 30px;
  padding-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-menu .nav .nav__list .active a {
  border-bottom: 1px solid #fff;
}
.main-menu .nav .nav__list a {
  display: inline-block;
  border-bottom: 1px solid transparent;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}
.main-menu .nav .nav__list a:hover {
  border-bottom-color: #fff;
}

.slick-list {
  padding: 20px 0;
}

.stateble-element {
  padding: 10px 15px 57px 15px;
  margin: 0 15px;
  border-radius: 4px;
  background: #fff;
  -webkit-box-shadow: 0px 2px 15px rgba(57, 49, 133, 0.2);
          box-shadow: 0px 2px 15px rgba(57, 49, 133, 0.2);
  outline: none;
  position: relative;
  -webkit-transition: .3s all;
  transition: .3s all;
}
.stateble-element .stateble-element__image {
  position: relative;
}
.stateble-element .stateble-element__image img {
  width: 100%;
  height: 24.9vh;
  max-height: 233px;
  -o-object-fit: cover;
     object-fit: cover;
}
.stateble-element .stateble-element__description {
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 21px;
  margin: 5px 0;
  display: block;
}
.stateble-element .stateble-element__brand {
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  color: #006633;
  margin-bottom: 5px;
}
.stateble-element .stateble-element__brand:hover {
  color: #60A944;
}
.stateble-element .stateble-element__pannel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.stateble-element .stateble-element__pannel .stateble-element__prices .stateble-element__new-price {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}
.stateble-element .stateble-element__pannel .stateble-element__prices .stateble-element__new-price .currency {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}
.stateble-element .stateble-element__pannel .stateble-element__prices .stateble-element__old-price {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #C4C4C4;
}

.stateble-element_hover {
  -webkit-box-shadow: 0px 2px 15px rgba(57, 49, 133, 0.2), inset 0 0 0 2px #60A944;
          box-shadow: 0px 2px 15px rgba(57, 49, 133, 0.2), inset 0 0 0 2px #60A944;
}

.stateble-element__check {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #006633;
  border-radius: 4px;
  width: 36px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.stateble-element_picked {
  -webkit-box-shadow: 0px 2px 15px rgba(57, 49, 133, 0.2), inset 0 0 0 1px rgba(0, 102, 51, 0.5) !important;
          box-shadow: 0px 2px 15px rgba(57, 49, 133, 0.2), inset 0 0 0 1px rgba(0, 102, 51, 0.5) !important;
}
.stateble-element_picked .mark {
  background-color: #BDBDBD;
}
.stateble-element_picked .stateble-element__check {
  opacity: 1;
  visibility: visible;
}
.stateble-element_picked .to-cart {
  color: #fff;
  background-color: #006633 !important;
  border: 2px solid #006633;
}

.to-cart {
  position: absolute;
  bottom: -12px;
  left: calc(50% - 77.58px);
  background: #fff;
  border: 2px solid #60A944;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #60A944;
  padding: 10px 31px;
}
.to-cart:hover {
  color: #fff;
  background-color: #60A944;
}

.price-toggler {
  max-width: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.price-toggler .toggler-btn {
  background-color: #fff;
  border: 1px solid #C4C4C4;
  border-radius: 2px;
  width: 24px;
  height: 24px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #C4C4C4;
}
.price-toggler .toggler-btn:hover {
  background-color: #006633;
  border: 1px solid #006633;
  color: #fff;
}
.price-toggler .count {
  width: 30px;
  padding: 2px;
  text-align: center;
  color: #000;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.chosen label {
  padding-left: 25px;
  font-size: 13px;
  line-height: 16px;
  color: #006633;
  position: relative;
  cursor: pointer;
}
.chosen label:hover .input-custom {
  background-color: #006633;
}
.chosen label .input-custom {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  background-color: #ECEBF3;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: .3s all;
  transition: .3s all;
}
.chosen label .input-custom::after {
  content: '';
  display: block;
  position: absolute;
  left: 4px;
  top: 4px;
  width: 10px;
  height: 6px;
  border-left: 2px solid transparent;
  border-bottom: 2px solid transparent;
  background-color: transparent;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  cursor: pointer;
  -webkit-transition: .3s all;
  transition: .3s all;
}
.chosen input[type="checkbox"] {
  position: absolute;
  width: 0.0001px;
  height: 0.0001px;
  clip: rect(0 0 0 0);
}
.chosen input[type="checkbox"]:checked + .input-custom {
  background-color: #006633;
}
.chosen input[type="checkbox"]:checked + .input-custom::after {
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.breadcrumbs ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  padding: 12px 30px;
  background-color: #fff;
  background-color: #ECEBF3;
  font-size: 13px;
  line-height: 16px;
}
.breadcrumbs ul li:not(:last-child) {
  margin-right: 8px;
}
.breadcrumbs ul li:not(:last-child) a {
  margin-right: 6px;
}
.breadcrumbs ul a {
  color: #006633;
  display: inline-block;
}
.breadcrumbs ul a:hover {
  color: #60A944;
}

.navigation-pannel {
  width: 25%;
}
.navigation-pannel ul {
  list-style: none;
  border: 1px solid #ECEBF3;
}
.navigation-pannel ul a {
  display: block;
  font-weight: 500;
  font-size: 13px;
  line-height: 21px;
  padding: 14px;
  text-transform: uppercase;
  color: #000;
}
.navigation-pannel ul a:hover {
  color: #fff;
  background-color: rgba(0, 102, 51, 0.6);
}
.navigation-pannel ul li:not(:last-child) a {
  border-bottom: 1px solid #ECEBF3;
}
.navigation-pannel ul .active a {
  color: #fff;
  background-color: #006633;
}

.products {
  width: 75%;
}
.products .sub-category__grid-item {
  color: #000;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: none !important;
  transition: none !important;
  z-index: 2;
}
.products .sub-category__grid-item .sub-category__name {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  background-color: #ECEBF3;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  min-height: 100px;
  border-top: 5px solid #006633;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  -webkit-transition: .3s all;
  transition: .3s all;
}
.products .sub-category__grid-item .sub-category__image {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  width: 100%;
  height: 16vw;
  max-height: 200px;
}
.products .sub-category__grid-item:hover {
  color: #fff;
}
.products .sub-category__grid-item:hover .sub-category__name {
  background-color: #60A944;
}
.products .slider-brends {
  max-width: 775px;
  margin: 0 auto 40px;
}
.products .slider-brends .slick-prev {
  left: -42px;
  top: calc(50% - 15px);
}
.products .slider-brends .slick-next {
  right: -42px;
  top: calc(50% - 15px);
}
.products .slider-brends .slider-brands__item {
  display: block;
  height: 11.8vw;
  max-height: 170px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  margin: 0 12px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 0 2px #ECEBF3;
          box-shadow: 0 0 0 2px #ECEBF3;
}
.products .slider-brends .slider-brands__item:hover {
  -webkit-box-shadow: 0 0 0 2px #60A944;
          box-shadow: 0 0 0 2px #60A944;
}

.filters {
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 21px;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px 0 30px;
}
.filters .sort-way {
  min-width: 117px;
}
.filters .settings {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.filters .settings .settings__left,
.filters .settings .settings__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.filters .settings .settings__left > div {
  position: relative;
  padding-right: 15px;
  cursor: pointer;
  -webkit-transition: .3s all;
  transition: .3s all;
}
.filters .settings .settings__left > div:hover {
  color: #006633;
}
.filters .settings .settings__left > div:hover::after {
  border-bottom: 1px solid #006633;
  border-left: 1px solid #006633;
}
.filters .settings .settings__left > div::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: 5px;
  width: 6px;
  height: 6px;
  border-bottom: 1px solid #006633;
  border-left: 1px solid #006633;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: .3s all;
  transition: .3s all;
  opacity: 0;
  visibility: hidden;
}
.filters .settings .settings__left .active {
  color: #006633;
}
.filters .settings .settings__left .active::after {
  opacity: 1;
  visibility: visible;
}
.filters .settings .settings__left .reverse::after {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  top: 9px;
}
.filters .settings .settings__left > div:not(:last-child) {
  margin-right: 20px;
}
.filters .settings .settings__right label:last-child {
  margin-left: 15px;
}
.filters .settings .settings__right label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
}
.filters .settings .settings__right label .custom-check {
  position: absolute;
  left: 0;
  width: 18px;
  height: 18px;
  background-color: #BDBDBD;
  -webkit-transition: .3s all;
  transition: .3s all;
}
.filters .settings .settings__right label .custom-check::after {
  content: '';
  display: block;
  position: absolute;
  left: 4px;
  top: 4px;
  -webkit-transition: .3s all;
  transition: .3s all;
  border-bottom: 2px solid transparent;
  border-left: 2px solid transparent;
  width: 10px;
  height: 6px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.filters .settings .settings__right label input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
.filters .settings .settings__right label input:checked ~ .custom-check:after {
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
}
.filters .settings .settings__right label input:checked ~ .custom-check {
  background-color: #006633;
}

.products__images {
  max-width: 370px;
  width: 100%;
}
.products__images .products__main-image,
.products__images .cart-item__more-images > div {
  -webkit-box-shadow: 0 0 0 1px #ECEBF3;
          box-shadow: 0 0 0 1px #ECEBF3;
  -webkit-transition: .3s all;
  transition: .3s all;
  outline: none !important;
}
.products__images .products__main-image:hover, .products__images .products__main-image:focus,
.products__images .cart-item__more-images > div:hover,
.products__images .cart-item__more-images > div:focus {
  -webkit-box-shadow: 0 0 0 1px #60A944;
          box-shadow: 0 0 0 1px #60A944;
}
.products__images .cart-item__more-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px -5px;
}
.products__images .cart-item__more-images > div {
  margin: 0 5px;
}

.products__data {
  max-width: 507px;
  width: 100%;
}
.products__data .products__buttons {
  margin-bottom: 30px;
  padding: 30px;
  background-color: #ECEBF3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.products__data .products__buttons .products__buttons-left .product-price {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}
.products__data .products__buttons .products__buttons-left .product-price span {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}
.products__data .products__buttons .products__buttons-right .add-to-cart {
  margin-bottom: 10px;
  background-color: #60A944;
  color: #fff;
}
.products__data .products__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 15px;
}
.products__data .products__char .products__char-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.products__data .products__char .products__char-item > div {
  font-size: 13px;
  line-height: 16px;
  padding: 6px 0;
}
.products__data .products__char .products__char-item .name {
  width: 57%;
  overflow: hidden;
  margin-right: 10px;
}
.products__data .products__char .products__char-item .name .string {
  display: inline-block;
  position: relative;
}
.products__data .products__char .products__char-item .name .string::after {
  content: '...................................................................................';
  display: block;
  position: absolute;
  left: calc(100% + 25px);
  bottom: 0;
  color: #ECEBF3;
  font-size: 18px;
}
.products__data .products__char .products__char-item .value {
  width: 43%;
}
.products__data .products__indication-content {
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 12px;
  height: 33px;
  overflow: hidden;
  -webkit-transition: .3s all;
  transition: .3s all;
}
.products__data .show-content {
  background-color: transparent;
  font-size: 13px;
  line-height: 16px;
  display: inline-block;
  border-bottom: 1px dashed #006633;
  color: #006633;
  position: relative;
}
.products__data .show-content:hover {
  color: #60A944;
  border-bottom: 1px dashed #60A944;
}
.products__data .show-content .close-content {
  position: absolute;
  top: 0;
  right: -27px;
  border-radius: 50%;
  background-color: #f00;
  width: 20px;
  height: 20px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s all;
  transition: .3s all;
}
.products__data .show-content .close-content::after {
  content: '';
  display: block;
  position: absolute;
  left: 9px;
  top: 4px;
  background-color: #fff;
  width: 2px;
  height: 12px;
  border-radius: 2px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.products__data .show-content .close-content::before {
  content: '';
  display: block;
  position: absolute;
  left: 4px;
  top: 9px;
  background-color: #fff;
  width: 12px;
  height: 2px;
  border-radius: 2px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
.products__data .more-content {
  height: auto;
  -webkit-animation: show 300;
          animation: show 300;
}
.products__data .more-content + .show-content .close-content {
  opacity: 1;
  visibility: visible;
}

.price-switchers {
  margin-top: 25px;
}
.price-switchers .toggler-btn {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 2px;
  line-height: 40px;
  text-align: center;
  color: #C4C4C4;
}
.price-switchers .toggler-btn:hover {
  background-color: #006633;
  color: #fff;
}
.price-switchers .count {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  width: 45px;
  text-align: center;
}

.products__tabs {
  padding: 45px 0;
}
.products__tabs .products__tabs-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}
.products__tabs .products__tabs-bar .products__tab {
  width: 33.333%;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  position: relative;
  background-color: transparent;
  min-height: 35px;
  padding-bottom: 10px;
}
.products__tabs .products__tabs-bar .products__tab::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #ECEBF3;
  -webkit-transition: .3s all;
  transition: .3s all;
}
.products__tabs .products__tabs-bar .products__tab:hover {
  color: #006633;
}
.products__tabs .products__tabs-bar .products__tab:hover:after {
  background-color: #006633;
}
.products__tabs .products__tabs-bar .active-tab {
  color: #006633;
}
.products__tabs .products__tabs-bar .active-tab:after {
  background-color: #006633;
}
.products__tabs .products__tab-contents .products__tab-content {
  display: none;
  font-size: 13px;
  line-height: 16px;
}
.products__tabs .products__tab-contents .products__tab-content p {
  margin-bottom: 15px;
}
.products__tabs .products__tab-contents .active-content {
  display: block;
}

.stocks__item .stocks__item-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}
.stocks__item .stocks__item-head .stocks__item-head-title {
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 21px;
}
.stocks__item .stocks__item-head .dates {
  background-color: #60A944;
  border-radius: 2px;
  color: #fff;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  padding: 6px 20px;
}
.stocks__item .stocks__item-body {
  border-radius: 4px;
  -webkit-box-shadow: 0 0 0 1px #ECEBF3;
          box-shadow: 0 0 0 1px #ECEBF3;
}
.stocks__item .stocks__item-body .stocks__item-image {
  width: 100%;
  height: 250px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  display: block;
  border-radius: 4px;
}
.stocks__item .stocks__item-body .stocks__item-name {
  padding: 20px;
}
.stocks__item .stocks__item-body .stocks__item-name a {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #006633;
}
.stocks__item .stocks__item-body .stocks__item-name a:hover {
  color: #60A944;
}

.pagination {
  padding: 20px 0;
}
.pagination ul {
  list-style: none;
  margin-bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pagination ul a {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #828282;
  display: block;
  width: 30px;
  padding: 10px 0 5px;
  margin: 0 2px;
  border-bottom: 3px solid transparent;
  text-align: center;
  line-height: 30px;
}
.pagination ul a:hover {
  border-bottom: 3px solid #60A944;
  color: #60A944;
}
.pagination ul .back a {
  border: none !important;
  width: auto;
  margin-right: 35px;
}
.pagination ul .active a {
  border-bottom: 3px solid #006633;
  color: #006633;
}

.contacts .contacts__head {
  padding: 80px 70px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contacts .contacts__items > div {
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contacts .contacts__items > div:not(:last-child) {
  margin-bottom: 15px;
}
.contacts .contacts__items > div [class*="__icon"] {
  border-radius: 50%;
  background-color: #006633;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contacts .contacts__items > div a,
.contacts .contacts__items > div span {
  display: block;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #000;
  margin-top: 5px;
}
.contacts .contacts__items > div a {
  border-bottom: 1px solid transparent;
}
.contacts .contacts__items > div a:hover {
  border-bottom: 1px solid #000;
}
.contacts h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 23px;
}
.contacts .contacts__requisites-props .key {
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  padding-bottom: 19px;
}
.contacts .contacts__requisites-props .value {
  font-weight: 500;
  font-size: 13px;
  line-height: 14px;
  padding-bottom: 19px;
}
.contacts .contacts__social-nets-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -4px;
}
.contacts .contacts__social-nets-items a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 4px 8px;
}
.contacts .contacts__social-nets-items a[href*="ok.ru"] {
  background-color: #F79A38;
}
.contacts .contacts__social-nets-items a[href*="vk.com"] {
  background-color: #7294C7;
}
.contacts .contacts__social-nets-items a[href*="facebook.com"] {
  background-color: #4E6297;
}
.contacts .contacts__items {
  width: 23%;
}
.contacts .contacts__requisites {
  width: 43%;
}
.contacts .contacts__social-nets {
  width: auto;
}

.addresses .addresses__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 19px;
}
.addresses .addresses__item {
  -webkit-box-shadow: 0 0 0 1px #ECEBF3;
          box-shadow: 0 0 0 1px #ECEBF3;
  border-radius: 2px;
}
.addresses > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 16px;
}
.addresses > div .addresses__item-data {
  width: 60%;
  padding: 45px 70px;
}
.addresses > div .addresses__item-data .addresses__item-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 22.5px;
}
.addresses > div .addresses__item-data .addresses__item-address .address-icon {
  margin-right: 15px;
  border-radius: 50%;
  background-color: #006633;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.addresses > div .addresses__item-data .addresses__item-ditails {
  padding-left: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.addresses > div .addresses__item-data .addresses__item-ditails p {
  width: 50%;
  font-weight: 500;
  font-size: 13px;
  line-height: 14px;
  margin: 12.5px 0;
}
.addresses > div .addresses__item-data .addresses__item-ditails p span {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
.addresses > div .addresses__item-map {
  width: 40%;
}
.addresses > div .addresses__item-map img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.view-other-regions a {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  display: inline-block;
  border-bottom: 2px dotted #006633;
  color: #006633;
}
.view-other-regions a:hover {
  border-bottom: 2px dotted #60A944;
  color: #60A944;
}

.connect-form {
  padding-top: 110px;
  width: calc(100% - 200px);
  padding: 37px 90px 50px 58px;
  background: -webkit-gradient(linear, left top, left bottom, from(#006633), to(#60A944)), #23610b;
  background: linear-gradient(180deg, #006633 0%, #60A944 100%), #23610b;
  border-radius: 4px;
  color: #fff;
  position: relative;
  margin: 110px 0 -50px;
}
.connect-form .women {
  position: absolute;
  bottom: -1px;
  right: -300px;
}
.connect-form .convert {
  position: absolute;
  top: -40px;
  right: 50px;
}
.connect-form h2 {
  font-weight: 900;
  font-size: 48px;
  line-height: 59px;
}
.connect-form form {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.connect-form form .left {
  width: calc(50% - 40px);
}
.connect-form form .left label {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  display: block;
  margin-bottom: 8px;
}
.connect-form form .left input {
  background-color: #FCFCFD;
  border-radius: 2px;
  display: block;
  margin-bottom: 14px;
  padding: 13px 15px;
  font-size: 13px;
  line-height: 16px;
  width: 100%;
}
.connect-form form .left input::-webkit-input-placeholder {
  color: #828282;
}
.connect-form form .left input:-ms-input-placeholder {
  color: #828282;
}
.connect-form form .left input::-ms-input-placeholder {
  color: #828282;
}
.connect-form form .left input::placeholder {
  color: #828282;
}
.connect-form form .right {
  width: calc(50% + 30px);
  max-width: 400px;
}
.connect-form form .right label {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  display: block;
  margin-bottom: 8px;
}
.connect-form form .right textarea {
  background-color: #FCFCFD;
  border-radius: 2px;
  display: block;
  width: 100%;
  min-height: 212px;
  padding: 10px 15px;
  font-size: 13px;
  line-height: 16px;
}
.connect-form form .right textarea::-webkit-input-placeholder {
  color: #828282;
}
.connect-form form .right textarea:-ms-input-placeholder {
  color: #828282;
}
.connect-form form .right textarea::-ms-input-placeholder {
  color: #828282;
}
.connect-form form .right textarea::placeholder {
  color: #828282;
}
.connect-form form .bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.connect-form form .privacy {
  font-size: 14px;
  line-height: 21px;
  width: calc(50% + 50px);
}
.connect-form form .privacy a {
  color: #fff;
  border-bottom: 1px solid #fff;
}
.connect-form form .privacy input[type="checkbox"] {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
.connect-form form .privacy label {
  padding-left: 35px;
  position: relative;
  display: inline-block;
}
.connect-form form .privacy .custom-check {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  -webkit-transition: .3s all;
  transition: .3s all;
  cursor: pointer;
  width: 22px;
  height: 22px;
  border-radius: 4px;
  background-color: #006633;
}
.connect-form form .privacy .custom-check::before {
  content: '';
  position: absolute;
  left: 5px;
  top: 6px;
  display: block;
  -webkit-transition: .3s all;
  transition: .3s all;
  cursor: pointer;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 12px;
  height: 7px;
  border-bottom: 2px solid transparent;
  border-left: 2px solid transparent;
  z-index: 1;
}
.connect-form form .privacy input[type="checkbox"]:checked ~ .custom-check::before {
  border-bottom: 2px solid #fff !important;
  border-left: 2px solid #fff !important;
}
.connect-form form .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}
.connect-form form .buttons button {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  margin: 0 15px;
}
.connect-form form .buttons .reset_btn {
  background-color: transparent;
  -webkit-box-shadow: 0 0 0 2px #fff;
          box-shadow: 0 0 0 2px #fff;
}
.connect-form form .buttons .reset_btn:hover {
  background-color: rgba(255, 255, 255, 0.15);
}
.connect-form form .buttons .send_btn {
  -webkit-box-shadow: 0 0 0 2px #393185;
          box-shadow: 0 0 0 2px #393185;
  background-color: #393185;
}
.connect-form form .buttons .send_btn:hover {
  -webkit-box-shadow: 0 0 0 2px rgba(0, 102, 51, 0.5);
          box-shadow: 0 0 0 2px rgba(0, 102, 51, 0.5);
  background-color: rgba(65, 191, 58, 0.95);
}

.basket__item {
  -webkit-box-shadow: inset 0 0 0 1px #ECEBF3;
          box-shadow: inset 0 0 0 1px #ECEBF3;
  margin-bottom: 15px;
}

.basket__item-head {
  background-color: #ECEBF3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 40px;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
}
.basket__item-head > div {
  padding: 8px 15px;
}
.basket__item-head .basket__item-name {
  width: 40%;
}
.basket__item-head .basket__item-cost {
  width: 12%;
  text-align: right;
}
.basket__item-head .basket__item-quantity {
  width: 21%;
}
.basket__item-head .basket__item-result {
  width: 27%;
}

.basket__item-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.basket__item-body > div {
  padding: 15px 10px;
}
.basket__item-body .basket__body-good {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
}
.basket__item-body .basket__body-good img {
  margin-right: 15px;
}
.basket__item-body .basket__body-good > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 15px;
  line-height: 21px;
}
.basket__item-body .basket__body-good > div .chosen {
  margin-top: 20px;
}
.basket__item-body .basket__body-cost {
  width: 12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.basket__item-body .basket__body-switchers {
  width: 21%;
  text-align: center;
}
.basket__item-body .basket__body-switchers button {
  -webkit-box-shadow: 0 0 0 1px #C4C4C4;
          box-shadow: 0 0 0 1px #C4C4C4;
}
.basket__item-body .basket__body-switchers input {
  background-color: #ffffff;
}
.basket__item-body .basket__body-result {
  width: 27%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.basket__item-body .basket__body-result .total-cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.basket__item-body .basket__body-result .delete {
  position: relative;
  width: 42px;
  height: 42px;
  border: 2px solid #f00;
  border-radius: 4px;
  background-color: #fff;
}
.basket__item-body .basket__body-result .delete::after {
  content: '';
  display: block;
  position: absolute;
  top: 17px;
  left: 7px;
  width: 22px;
  height: 2px;
  border-radius: 2px;
  background-color: #f00;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: .3s all;
  transition: .3s all;
}
.basket__item-body .basket__body-result .delete::before {
  content: '';
  display: block;
  position: absolute;
  top: 17px;
  left: 7px;
  width: 22px;
  height: 2px;
  border-radius: 2px;
  background-color: #f00;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: .3s all;
  transition: .3s all;
}
.basket__item-body .basket__body-result .delete span {
  position: absolute;
  bottom: -21px;
  left: calc(50% - 27px);
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  color: #FF0000;
  -webkit-transition: .3s all;
  transition: .3s all;
}
.basket__item-body .basket__body-result .delete:hover {
  background-color: #ce0000;
}
.basket__item-body .basket__body-result .delete:hover::after, .basket__item-body .basket__body-result .delete:hover::before {
  background-color: #fff;
}
.basket__item-body .basket__body-result .delete:hover span {
  color: #ce0000;
}

.default-price {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-decoration: line-through;
  margin-bottom: 6px;
}

.sale-price {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.basket__results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 22px;
}
.basket__results .basket__result {
  max-width: 300px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.basket__results .basket__result > span {
  margin-right: 3px;
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 21px;
}
.basket__results .basket__result-cost {
  margin: 15px 0 10px;
}
.basket__results .basket__result-cost-size .total-cost {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}
.basket__results .basket__result-cost-size .currency {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}
.basket__results .basket__result-sale > span {
  color: #393185;
}
.basket__results .basket__result-sale .basket__result-sale-size {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #393185;
}

.basket__buttons {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0;
}
.basket__buttons .btn-to-shop {
  -webkit-box-shadow: inset 0 0 0 2px #60A944;
          box-shadow: inset 0 0 0 2px #60A944;
  color: #60A944;
}
.basket__buttons .btn-to-shop:hover {
  background-color: rgba(96, 169, 68, 0.2);
}
.basket__buttons .btn-make-order {
  background-color: #60A944;
  -webkit-box-shadow: inset 0 0 0 2px #60A944;
          box-shadow: inset 0 0 0 2px #60A944;
  color: #fff;
}
.basket__buttons .btn-make-order:hover {
  background-color: #006633;
  -webkit-box-shadow: inset 0 0 0 2px #006633;
          box-shadow: inset 0 0 0 2px #006633;
}

.make-order__content {
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  width: calc(100% - 260px);
  padding: 45px 80px 50px 128px;
}
.make-order__content .form-data h2 {
  position: relative;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 25px;
}
.make-order__content .form-data h2 .num {
  position: absolute;
  left: -58px;
  top: -5px;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  background-color: #006633;
  color: #fff;
  text-align: center;
  line-height: 32px;
  font-weight: bold;
  font-size: 18px;
}
