@media (max-width: 1370px) {
    .connect-form {
        width: 100%;

        .women {
            display: none;
        }

        form {
            .bottom {
                justify-content: space-between;
            }

            .right {
                max-width: 100%;
            }
        }
    }
}

@media (max-width: 1150px) {
    .burger {
        background-color: $c2;
        width: 65px;
        height: 65px;
        border-radius: 2px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        z-index: 10;
        transition: .3s;

        span {
            background-color: #fff;
            border-radius: 2px;
            width: 28px;
            height: 4px;
            margin: 3px;
        }
    }

    .burder_active {
        background-color: #f00 !important;

        span:first-child {
            transform: rotate(45deg);
            transform-origin: 5px 5px;
        }

        span:last-child {
            transform: rotate(-45deg);
            transform-origin: 11px 1px;
        }
    }

    .fast-call {
        top: 300px;
    }

    .header,
    .main-menu,
    .basket__item {
        display: none;
    }

    .header_tablet,
    .main-menu_tablet,
    .actions-pannel,
    .basket__item_adaptive {
        display: block;
    }

    .header_tablet {
        background: #fff;

        .phone {
            width: auto;

            a {
                font-weight: 900;
                font-size: 24px;
                line-height: 29px;
            }

            .choose-city a {
                color: $c1;
                font-weight: bold;
                font-size: 16px;
                line-height: 20px;

                &:hover {
                    color: $c2;
                }
            }
        }

        .header__pannel {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .header__inner .header__right,
        .header__inner .header__left {
            width: 50%;
        }

        .header__inner {
            min-height: 153px;

            .header__right {
                padding: 0 15px;
            }
        }
    }

    .main-menu_tablet {
        background-color: $c1;

        .header__serach {
            margin-top: 0;
            display: flex;
            justify-content: space-between;
            padding: 9px 0;

            form {
                max-width: 465px;
                width: 100%;
            }

            .nav__catalog {
                width: 25%;
            }
        }
    }

    .actions-pannel {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: #eee;
        height: 100px;
        position: fixed;
        width: 100%;
        z-index: 10;
        bottom: 0;
    }

    .footer {
        padding: 40px 0 140px;
    }

    .footer__privacy a {
        display: block;
    }

    .footer__navigation ul li {
        width: 100%;
    }

    .footer__logo {
        width: 33.333%;
    }

    .footer__navigation {
        width: 168px;
    }

    .footer__contacts {
        width: 33.333%;
        max-width: 230px;
    }

    .adaptive-nav {
        display: none;
        position: fixed;
        right: 0;
        top: 0;
        height: calc(100vh - 100px);
        background-color: $c2;
        max-width: 455px;
        width: 100%;
        padding: 67px 115px 67px 60px;
        z-index: 1;

        .adaptive-nav__list {
            list-style: none;

            a {
                font-weight: bold;
                font-size: 18px;
                line-height: 22px;
                padding: 17.5px 0;
                display: inline-block;
                color: #fff;
                position: relative;
            }

            li:not(:last-child) {
                border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            }

            .active a {
                text-decoration: underline;

                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    bottom: 15px;
                    left: 0;
                    background-color: #fff;
                    width: 100%;
                    height: 1px;
                }
            }
        }
    }

    .catalog_adaptive {
        padding: 30px;

        .catalog__content {
            flex-wrap: nowrap;
        }

        .catalog__changing-content {
            padding: 20px 35px 30px 30px !important;

            &::after {
                display: none;
            }
        }
    }

    .fancybox-close-small {
        padding: 5px !important;
    }

    .fancybox-button svg path {
        fill: #f00;
    }

    .stocks__item .stocks__item-image img {
        height: 31.3vw;
        max-height: 336px;
    }

    .stateble-element .stateble-element__image img {
        height: 31.9vh;
        max-height: 264px;
    }

    .products .slider-brends {
        width: calc(100% - 80px);
    }

    .cart-item {
        .navigation-pannel {
            display: none;
        }

        .products {
            width: 100%;

            .products__data {
                max-width: 100%;
            }
        }

        .products__view {
            flex-direction: column;

            .products__images {
                max-width: 100%;
                display: flex;
                flex-direction: row-reverse;
                justify-content: center;
                margin-bottom: 50px;

                .cart-item__more-images {
                    flex-direction: column;
                    justify-content: space-between;
                    margin: 0;

                    img {
                        max-width: 114px;
                    }

                    &>div {
                        margin: 0 9px;
                    }
                }
            }
        }

        .products__buttons-left {
            width: 66.666%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-right: 9%;

            .price-switchers {
                margin-top: 0;
            }
        }

        .products__buttons-right {
            width: 33.333%;

            .add-to-cart,
            .choosen {
                margin-left: auto;
            }
        }
    }

    .stocks__item {
        .stocks__item-head {
            flex-direction: column;
            align-items: flex-start;

            .dates {
                padding: 0;
                background-color: transparent;
                color: #C4C4C4;
            }
        }

        .stocks__item-body .stocks__item-name {
            display: none;
        }
    }

    .contacts {

        .contacts__head {
            padding: 50px 30px;
            flex-wrap: wrap;
            justify-content: flex-end;

            .contacts__items {
                width: 33.333%;
            }

            .contacts__requisites {
                width: 66.666%;
            }

            .contacts__social-nets {
                width: 66.666%;
                display: flex;
                align-items: center;

                h3 {
                    margin-bottom: 0;
                    margin-right: 30px;
                }
            }
        }

        .addresses {


            &>div .addresses__item-data {
                width: 55%;
                padding: 30px 15px 30px 30px;

                .addresses__item-ditails p:nth-child(even) {
                    padding-left: 6.25px;
                }

                .addresses__item-ditails p:nth-child(odd) {
                    padding-right: 6.25px;
                }
            }

            &>div .addresses__item-map {
                width: 45%;
            }
        }
    }

    .connect-form {
        padding: 40px 65px 50px 65px;
        margin: 50px 0 -50px;

        form {
            .bottom {
                flex-wrap: wrap;
            }

            .privacy {
                width: 100%;
            }

            .buttons {
                width: 100%;
                margin-top: 30px;
            }

            .left {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                padding: 0 15px 4px;

                .left_name {
                    width: 100%;
                }

                .left_phone {
                    width: calc(33.333% - 15px);
                }

                .left_email {
                    width: calc(66.666% - 15px);
                }
            }

            .right {
                width: 100%;
            }
        }
    }

    .basket__body-good {
        width: 100%;
        padding: 30px;
    }

    .btn-wrap {
        flex: auto;
        margin-left: 30px;

        .delete {
            margin-left: auto;
        }
    }

    .basket__item_adaptive {


        .basket__item-cost {
            width: 33.333%;
            text-align: center;
        }

        .basket__item-quantity {
            width: 33.333%;
        }

        .basket__item-result {
            width: 33.333%;
            text-align: right;
            padding-right: 30px;
        }
    }

    .bascket__item-bottom {
        display: flex;
        flex-wrap: wrap;

        &>div {
            width: 33.333%;
            text-align: center;
            box-shadow: inset 0 0 0 1px #ECEBF3;
            padding: 30px;
        }

        .basket__body-result {
            margin-left: -1px;
            width: calc(33.333% + 1px);
        }

        .basket__body-switchers {
            margin-top: 0;
            margin-left: -1px;
            width: calc(33.333% + 1px);
        }

        .basket__body-cost {
            align-items: center;
        }

        .total-cost {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
    }

    .make-order__content {
        width: 100%;
    }

    .cabinet {
        .cabinet__content {
            flex-direction: column;
        }

        .navigation-pannel {
            width: calc(100% + 22.5px);
            position: relative;
            background-color: $c1;
            margin: 0 -15px 30px;

            &>ul {
                display: none;
                position: absolute;
                top: 65px;
                left: 7.5px;
                z-index: 1;
                width: calc(100% - 22.5px);
                background-color: #fff;
                box-shadow: 0 1000px 0 1000px rgba(0, 0, 0, .5);
            }
        }

        .personal-data {
            width: 100%;

            .personal-data__content {
                flex-direction: column;

                &>div {
                    width: 100%;
                    max-width: 400px;
                }

                .left,
                .right {
                    padding-bottom: 0;
                }
            }
        }
    }

    .burger_cabinet {
        margin-left: auto;
        margin-right: 7.5px;
        background-color: $c1;
        border-radius: 0;
    }

    .navigation-pannel ul {
        display: none;
    }

    .cabinet-basket {
        h1 {
            // display: none;
        }
    }

    .personal-data > p {
        display: none;
    }
}

@media (max-width: 991px) {
    .catalog .catalog__content .catalog__changing-content ul li {
        width: 100%;
    }

    .filters {
        flex-wrap: wrap;

        .settings {
            width: 100%;
        }
    }

    .make-order__content {
        padding: 45px 45px 50px 90px;
    }

    .form-in-basket__content .added-item {
        flex-wrap: unset;
    }
}

@media (max-width: 768px) {
    .stocks__item .stocks__item-image img {
        height: 31.3vw;
        max-height: 336px;
    }

    .stateble-element .stateble-element__image img {
        height: 31.9vh;
        max-height: 264px;
    }

    .slider-box {
        width: calc(100% - 130px);
        margin: 0 auto;
    }

    .slider-box .slick-arrow {
        top: calc(50% - 15px);
    }

    .slider-box .slick-prev {
        right: unset;
        left: -40px;
    }

    .slider-box .slick-next {
        right: -40px;
    }

    .sub-category__content {
        flex-direction: column;

        .products {
            width: 100%;
        }

        .sub-category__grid {
            display: none;
        }

        .navigation-pannel {
            width: calc(100% + 15px);
            display: flex;
            margin: 0 -7.5px 30px;
            flex-wrap: wrap;

            &>ul {
                width: calc(33.333% - 15px);
                margin: 0 7.5px;
            }
        }
    }

    .sub-category__grid_adaptive {
        display: flex !important;
        width: calc(66.666% - 15px);
        margin: 0 7.5px;
        flex-direction: column;

        &>div {
            width: calc(100% + 7.5px);
            margin-bottom: 15px;

            a {
                flex-direction: row;
                border-top: 5px solid #006633;

                .sub-category__image {
                    // min-width: 93px;
                    width: 25%;
                    height: 100%;
                }

                .sub-category__name {
                    width: 75%;
                    border-top: none;
                }
            }
        }
    }

    .products .sub-category__grid-item {
        flex-direction: row;

        .sub-category__image {
            width: 25%;
        }

        .sub-category__name {
            width: 75%;
        }
    }

    .stocks__content .stocks__item {
        width: 50%;
    }

    .chosen__items {
        justify-content: center;

        > div {
            max-width: 270px;
            margin-bottom: 20px;
        }
    }
}

@media (min-width: 769px) {
    .sub-category__grid_adaptive {
        display: none;
    }
}

@media (min-width: 1151px) {

    .header_tablet,
    .main-menu_tablet,
    .actions-pannel,
    .basket__item_adaptive {
        display: none;
    }
}